.divButton, .submit, .submitDisabled{
	border-style: solid;
	border-radius: 15px;
	text-align: center;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	margin-left: 20px;
}

.divButton{
	cursor: pointer;
}

.divButton:hover{
	background-color: #DDDDDD;
}

.divButton:active{
	background-color: #BBBBBB;
}

.cancelLink{
	text-decoration: none;
	color: black;
}

.submitDisabled{
	pointer-events: none;
	background-color: #E02323;
}

.submit{
	background-color: #40E023;
	cursor: pointer;
}

.submit:hover{
	background-color: #43b92e;
}

.submit:active{
	background-color: #369426;
}

.buttonHolder{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.search{
	margin-left: auto;
	margin-right: auto;
	max-width: 570px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.search > input{
	width: 75%;
}

form{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

input[type=text], input[type=number], textarea{
	font-size: 1em;
}

input[type=radio], input[type=checkbox]{
	margin-right: 20px;
}

textarea{
	height: 150px;
	width: 400px;
}
