.searchBar{
	font-size: 18px;
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2%;
	width: 94%;
}

.contain{
	width: 45%;
	float: left;
}

.detail{
	width: 50%;
	float: right;
	text-align: left;
	margin-top: 8%;
}