.searchBar{
	font-size: 18px;
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2%;
	width: 50%;
}

.contain{
	width: 45%;
	float: left;
}

.detail{
	width: 50%;
	height: calc(100vh - 90px);
	float: right;
	text-align: left;
	overflow-y: auto;
}

.listContainer{
	height: calc(100vh - 150px);
	overflow-y: auto;
}

.list{
	box-sizing: border-box;
}
