.listItem, .listItemSelected{
	border-style: solid;
	border-radius: 8px;
	height: 50px;
}

.listItem{
	background-color: #CCCCCC;
}

.listItemSelected{
	background-color: #0E3B84;
}

.listItemSelected > p{
	color: white;
}

.listItem:hover{
	background-color: #AAAAAA;
}

.listItem:active{
	background-color: #888888;
}

.itemId{
	margin-left: 1%;
	float: left;
}

.titleText{
	margin-left: 3em;
	float: left;
}

.itemButton{
	margin-top: 12.5px;
	margin-right: 3%;
	float: right;
}

.itemButton:hover{
	filter: brightness(75%);
}

.itemButton:active{
	filter: brightness(50%);
}
