.menuButtonContainer{
	width: 100px;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	margin: .5%;
	background-color: white;
	color: black;
}

.menuButtonContainer:hover{
	background-color: #DDDDDD;
}

.menuButtonContainer:active{
	background-color: #BBBBBB;
}
