.menuButtonContainer, .menuButtonHighlight{
	min-width: 100px;
	border-style: solid;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	margin: .5%;
}

.menuButtonHighlight{
	background-color: #0E3B84;
	color: white;
}

.menuButtonContainer{
	background-color: white;
	color: black;
}

.menuButtonContainer:hover{
	background-color: #DDDDDD;
}

.menuButtonContainer:active{
	background-color: #BBBBBB;
}
