.listItem, .listItemSelected{
	border-style: solid;
	border-radius: 8px;
	height: 50px;
	cursor: default;
	min-width: 160px;
}

.listItem{
	background-color: #CCCCCC;
}

.listItemSelected{
	background-color: #0E3B84;
}

.listItemSelected > p{
	color: white;
}

.listItem:hover{
	background-color: #AAAAAA;
}

.listItem:active{
	background-color: #888888;
}

.itemId{
	margin-left: 10px;
	float: left;
}

.titleText{
	margin-left: 5%;
	width: calc(100% - 255px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.itemButton{
	margin-right: 15px;
	margin-top: 10px;
	cursor: pointer;
	float: right;
}

.itemButton:hover{
	filter: brightness(75%);
}

.itemButton:active{
	filter: brightness(50%);
}
